<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.AmendMapper">

    <update id="reqisterAmend" parameterType="org.example.boot.bean.Select">
        UPDATE student SET sname=#{select.sname},sclass_id=#{select.sclass_id},sbirthday=#{select.sbirthday},sgender=#{select.sgender} WHERE sid=#{select.sid};
    </update>

    <update id="reqisterAmend1" parameterType="org.example.boot.bean.Select">
        UPDATE scores SET javascore=#{select.javascore},mathscore=#{select.mathscore},englishscore=#{select.englishscore},sportsscore=#{select.sportsscore} WHERE student_id=#{select.sid};
    </update>

</mapper>